Repository devpow112/semantic-release-config, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, javascript

docs: add lint/format instructions for `package.json`
  README.md
Labels: documentation

docs: add lint/format instructions for `package.json`
  README.md
Labels: documentation

docs: update security policy
  .github/SECURITY.md
Labels: documentation

docs: update security policy
  .github/SECURITY.md
Labels: documentation

docs: update incorrect node version link
  README.md
Labels: documentation

docs: update incorrect node version link
  README.md
Labels: documentation

chore(node): bump from 18.16.0 to 18.16.1
  .nvmrc
Labels: javascript

chore(node): bump from 18.16.0 to 18.16.1
  .nvmrc
Labels: javascript

chore(node): bump from 18.16.1 to 18.17.0
  .nvmrc
Labels: javascript

chore(node): bump from 18.16.1 to 18.17.0
  .nvmrc
Labels: javascript

chore(node): bump from 18.17.0 to 18.17.1
  .nvmrc
Labels: javascript

chore(node): bump from 18.17.0 to 18.17.1
  .nvmrc
Labels: javascript

chore(node): bump from 18.17.1 to 18.18.0
  .nvmrc
Labels: javascript

chore(node): bump from 18.17.1 to 18.18.0
  .nvmrc
Labels: javascript

chore(node): bump from 18.18.0 to 18.18.1
  .nvmrc
Labels: javascript

chore(node): bump from 18.18.0 to 18.18.1
  .nvmrc
Labels: javascript

chore(node): bump from 18.18.1 to 18.18.2
  .nvmrc
Labels: javascript

chore(node): bump from 18.18.1 to 18.18.2
  .nvmrc
Labels: javascript

feat: add release branches
  src/config.js
Labels: javascript

chore: remove release
  src/config.js
Labels: javascript

chore: add back release
  src/config.js
Labels: javascript

feat: add release branches
  src/config.js
Labels: javascript

chore: add back release
  src/config.js
Labels: javascript

chore: remove release
  src/config.js
Labels: javascript

chore(release): 2.2.0 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  aa5046d094f93b0ca3a56f24c197ac4ff5d90eb0
Labels: none

chore: remove broken badge
  README.md
Labels: documentation

chore: remove broken badge
  README.md
Labels: documentation

chore(node): bump from 18.18.2 to 20.9.0
  .nvmrc
Labels: javascript

chore(node): bump from 18.18.2 to 20.9.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.9.0 to 20.10.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.9.0 to 20.10.0
  .nvmrc
Labels: javascript

fix: various package issues
  .github/workflows/ci.yml
  .markdownlintignore
  README.md
  package-lock.json
  package.json
Labels: documentation, github-actions, javascript

fix: various package issues
  .github/workflows/ci.yml
  .markdownlintignore
  README.md
  package-lock.json
  package.json
Labels: documentation, github-actions, javascript

chore(release): 2.2.1 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  46d2d087328f1d24e9fcb7cd9270d40f41f5f519
Labels: none

fix: engine version
  package-lock.json
  package.json
Labels: javascript

chore(release): 2.2.2 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  461f2e1880cea28d3367749350778742c0e21524
Labels: none

chore: update dev dependencies
  package-lock.json
  package.json
Labels: javascript

.github/labeler.yml:

documentation:
  - '**/*.md'
  - .github/CODEOWNERS
  - .github/SECURITY.md
  - LICENSE
github-actions:
  - .github/workflows/*.yml
javascript:
  - '**/*.js'
  - .npmrc
  - .nvmrc
  - package.json
  - package-lock.json
